<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Land your first tech job!</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Land your first tech job!</h1>
      </div>
      <div class="row">
        <p>
          Finding a tech job in latinamerica can be hard if you never 
          though that tech can be a path for you!
        </p>
        <p>
          This site provides the best Top 5 tech jobs at an entry level.
          And resources are provided so you can start your study journey today!
        </p>
      </div>
      <div class="row align-items-center">
        <div class="col"></div>
        <div class="col">
            {% if job_positions %}                
                <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{job_positions.0.title}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{job_positions.0.company_name}}</h6>
                  <p class="card-text">{{job_positions.0.compensation}}</p>
                  <ul>
                    {% for skill in job_positions.0.skills %}
                        <li>
                          <a href="#" class="card-link">{{skill}}</a>
                        </li>                    
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{job_positions.1.title}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{job_positions.1.title}}</h6>
                  <p class="card-text">{{job_positions.1.compensation}}</p>
                  <ul>
                    {% for skill in job_positions.1.skills %}
                        <li>
                          <a href="#" class="card-link">{{skill}}</a>
                        </li>                    
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{job_positions.2.title}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{job_positions.2.company_name}}</h6>
                  <p class="card-text">{{job_positions.2.compensation}}</p>
                  <ul>
                    {% for skill in job_positions.2.skills %}
                        <li>
                          <a href="#" class="card-link">{{skill}}</a>
                        </li>                    
                    {% endfor %}
                  </ul>
                </div>
              </div>              
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{job_positions.3.title}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{job_positions.3.company_name}}</h6>
                  <p class="card-text">{{job_positions.3.compensation}}</p>
                  <ul>
                    {% for skill in job_positions.3.skills %}
                        <li>
                          <a href="#" class="card-link">{{skill}}</a>
                        </li>                    
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{job_positions.4.title}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{job_positions.4.company_name}}</h6>
                  <p class="card-text">{{job_positions.4.compensation}}</p>
                  <ul>
                    {% for skill in job_positions.4.skills %}
                        <li>
                          <a href="#" class="card-link">{{skill}}</a>
                        </li>                    
                    {% endfor %}
                  </ul>
                </div>
              </div>
            {% endif %}
        </div>
        <div class="col"></div>
      </div>
    </div>
  </body>
</html>
